<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item active" aria-current="page"> <a href="/consultas/tickets">General</a> </li>
            <li class="breadcrumb-item active" aria-current="page">Detalle Ticket</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </symbol>
            </svg>
            <div class="alert alert-primary d-flex align-items-center" role="alert" id="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill" />
                </svg>
                <div id="alert-msg" class="ml-2">
                </div>
            </div>
            <div class="card">
                <div class="card-header font-weight-bold">
                    <i class="fas fa-check-circle"></i> INFORMACIÓN TICKET
                </div>
                <div class="card-body">
                    <label>Usuario Solicitó:</label>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" value="{{ticketsData.USERNAME}}" disabled required>
                        </div>
                    </div>
                    <label>Asunto</label>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control to-mayus" value="{{ticketsData.ASUNTO}}" disabled
                                required>
                        </div>
                    </div>

                    <label>Área</label>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control to-mayus"
                                value="{{ticketsData.DESCRIPCION_CATEGORIA}}" disabled required>
                        </div>
                    </div>

                    <label>Descripción</label>
                    <div class="form-row">

                        <div class="form-group col-md-12">

                            <textarea class="form-control" name="observaciones" id="" rows="3"
                                disabled>{{ticketsData.DESCRIPCION}}</textarea>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <a href="{{ticketsData.IMG_ADJUNTA}}" class="img-file d-none" target="_blank"> Click para
                                ver
                                archivo adjunto.</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header font-weight-bold">
                    <i class="fas fa-comment"></i> COMENTARIOS
                </div>
                <div class="card-body">
                    <form action="/consultas/tickets/edit/{{ticketsData.ID_TICKETS}}" method="post">
                        <label class="font-weight-bold">Comentario:</label>
                        <div class="form-row">

                            <div class="form-group col-md-12">
                                <textarea class="form-control" name="comentario" id="comentario"
                                    rows="5">{{ticketsData.COMENTARIO}}</textarea>

                            </div>

                        </div>
                        <label class="font-weight-bold">Estado:</label>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <div class="custom-control custom-checkbox">
                                    {{#if ticketsData.RESOLUCION}}
                                    <input type="checkbox" class="custom-control-input close-ticket" id="check" name="resolucion"
                                        checked>
                                    {{else}}
                                    <input type="checkbox" name="resolucion" class="custom-control-input close-ticket" id="check">
                                    {{/if}}
                                    <label class="custom-control-label" for="check">
                                        Finalizar
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="{{ticketsData.RESOLUCION}}"
                            class="btn btn-success float-right mb-4 mr-2 finalizar">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>

<script src="/js/tickets/tickets.js"></script>